<h1>Eventos</h1>
<hr>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro</label>
    <input
    type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filterList"
    >
  </div>
</div>

<table class="table table-striped text-center">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="changeImg()">
          {{showImg ? 'Ocultar' : 'Exibir'}}
        </button>
      </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Quantidade de pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">   <!--Diretivas estruturais-->
    <tr *ngFor="let item of eventosFiltrados">
      <td><!-- precisa colocar o diretorio da imagem-->
        <img [collapse]="!showImg" [isAnimated]="true"
        src="/assets/img/{{item.imagemURL}}"
        [style.width.px]="widthImg"
        [style.height.px]="heightImg"
        [style.margin.px]="marginImg" />        <!--properties binding-->
      </td>
      <td>{{item.eventoId}}</td>  <!--inteporlação-->
      <td >{{item.tema}}</td>
      <td>{{item.local}}</td>
      <td>{{item.dataEvento}}</td>
      <td>{{item.qtdPessoas}}</td>
      <td>{{item.lote}}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2">Editar</button>
        <button class="btn btn-danger btn-sm">Remover</button>
      </td>
    </tr>
  </tbody>
  <tfoot  *ngIf="!eventos.length">
    <tr>
      <td colspan="8"><H4>Nenhum evento encontrado</H4></td>
    </tr>
  </tfoot>
</table>



<!--
<p><b>Tema:</b> {{eventos[0].Tema}}</p>
<p><b>Local:</b> {{eventos[0].Local}}</p>

<div  *ngFor="let item of eventos">
  <p><b>Evento Id:</b> {{item.eventoId}}</p>
  <p><b>Quantidade de pessoas:</b> {{item.qtdPessoas}}</p>
  <p><b>Local:</b> {{item.local}}</p>
  <p><b>Data do Evento:</b> {{item.dataEvento}}</p>
  <p><b>Tema:</b> {{item.tema}}</p>
  <p><b>Lote:</b> {{item.lote}}</p>
  <p><b>Url da Imagem:</b> {{item.imagemURL}}</p>

  <hr>
</div> -->


